:root {
    --color-for-info-in-card: rgb(235, 235, 235);
    --color-for-shadow: rgba(0, 0, 0, 0.1);
    --color-for-input-border: rgb(213, 213, 213);
    --color-for-button: rgb(155, 31, 226);
    --color-for-button-hover: rgb(128, 11, 195);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OCR A Std', monospace;
}



body {
    background-image: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 300px;
}

@media (max-width: 500px) {
    body {
        background-position: center top;
        background-size: 100% 40%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .card-back{
        display: none;
    }

    .container .bg-card-front {
        right: 0; 
        width: 100%;  
    }
}

.container {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.card-previev{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bg-card-back{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 7px 7px 15px 10px var(--color-for-shadow);
    transition: transform 0.3s ease;
}

.bg-card-back:hover {
    transform: scale(1.2); /* збільшує елемент на 20% */
}

.bg-card-front{
    background-image: url('images/bg-card-front.png');
    background-size: cover;
    background-position: center; 
    width: 90%;
    height: 220px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px 10px var(--color-for-shadow);
    position: relative;
    right: 30%;    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    transition: transform 0.3s ease;
}

.bg-card-front:hover {
    transform: scale(1.2); /* збільшує елемент на 20% */
}

.card-number{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--color-for-info-in-card)
}

.containerForDateName{
    display: flex;
    justify-content: space-between;
}

.card-name, .card-expiry {
    margin-top: 10px;
    color: var(--color-for-info-in-card);
    text-transform: uppercase;
}

.bg-card-back{
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    background-position: center; 
    width: 440px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px 10px var(--color-for-shadow);
    position: relative;   
    padding: 98px 50px 95px 95px;
    display: flex;
    flex-direction: column;
}

.card-CVV {
    font-size: 1em;
    color: white;
    text-align: right;
}

.form{
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-for-cardholder{
    text-transform: uppercase;
    width: 100%;
}

.input-for-name{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-for-input-border);
}

.input-for-card-number{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-for-input-border);
}

.container-for-date{
    display: flex;
    flex-direction: column;
}

.container-for-CVC{
    display: flex;
    flex-direction: column;
}

.container-for-date-and-CVC{
    display:flex ;
    gap: 15px;
}

.input-for-date{
    width: 33%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-for-input-border);
}

.input-for-CVC{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-for-input-border);
}

.confirm-button {
    background-color: var(--color-for-button);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.confirm-button:hover {
    background-color: var(--color-for-button-hover);
}

.container-for-month-day{
    display: flex;
    gap: 15px;
}

.containerForDate{
    display: flex; 
}

#success-checkmark {
    background-image: url('images/icon-complete.svg');
    background-size: cover;
    background-position: center; 
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}